<div class="container">
	<h2 class="post-title"><%= @post.title %></h2>
	<p class="post-text"><%= @post.text %></p>
	<span class="post-type"><%= @post.post_type %></span>
	<span class="post-source"><%= @post.source %></span>		
</div>